html,body {
    background-color: #283042;
}

.toDoContainer{
    background-color: rgb(215, 101, 59);
    border-radius: 50px;

    width: 1000px;
    height:600px;
    padding: 60px;
    box-sizing: border-box;

}

.container{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 120px;
}

.textToDoContainer{
    display: flex;
    justify-items: center;
    justify-content: center;

    font-family: sans-serif;
    font-weight: 600;
    font-size: 25px;

    border: #283042;
}

.inputContainer{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 4%;
}

.inputContainer input {
    width: 400px;
    height: 30px;
    background-color: #ffffff;
    border: 0;
}

.mainButton{
    color: white;
    background-color: rgb(255, 106, 0);
    width: 100px;
    border: 0;
    cursor: pointer;

}

