@media screen and (max-width:450px) {
  .toDoContainer {
    height: 830px;
    width: 415px;
    padding: 15px;
    border-radius: 0;
  }
  .textToDoContainer{
    padding: 13px;
  }
  .inputContainer input{
    width: 450px;
    font-size: 16px;
    color: aliceblue;
    padding: 6px;
  }
  .mainButton{
    width: 130px;
  }
  .toDoListItem{
    padding: 8px;
    padding-left: 15px;
  }
  .toDoList{
    height: 600px;
  }
  .container{
    margin-top: 0px;
  }

  .deleteBtn {
  padding: 10px;
  font-size: 16px;
}
}

