@media screen and (max-width:450px) {
  .toDoContainer {
    height: 700px;
    width: 415px;
    padding: 20px;
  }
  .inputContainer input{
    width: 450px;
    font-size: 16px;
  }
  .mainButton{
    width: 130px;
  }
  .toDoListItem{
    padding: 8px;
  }
  .container{
    margin-top: 10px;
  }
}

